<div class="jumbotron">
  <h1 class="display-4"><%= @post.title %></h1>
  <p class="lead">
    <%= @post.body%>
  </p>
  
  <%= link_to 'Edit', edit_post_path(@post) ,class:"btn btn-secondary"%> 
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <%= link_to 'Back', posts_path , class:"btn btn-dark" %>
</div>

