<!--<%= form_tag('/users') do %>
  <%= label_tag(:email, "Email:") %>
  <%= email_field_tag(:email) %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %> 
-->
<%= form_with model: @user do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Enter username" %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Enter email" %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Enter password" %>
  </p>
  <%= f.submit "Create" %>
<% end %>
